@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	font-family: 'Poppins';
}
body {
	background: #f7f7f7;
	margin: 20px;
}
nav,
.wrap {
	max-width: 1200px;
	margin: 20px auto 40px;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.root {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.pizza {
	background: #fff;
	border-radius: 4px;
	padding: 8px;
	position: relative;
}
.pizza p,
.pizza h2 {
	margin: 0;
}
.pizza h2 {
	font-size: 1.2em;
}
.pizza p {
	font-size: 0.9em;
}
.pizza .toppings {
	color: #777;
	font-size: 0.8em;
	margin-bottom: 10px;
}
.pizza span {
	position: absolute;
	top: -5px;
	right: -5px;
	background: #de8202;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	color: #fff;
}
input[type='text'],
input[type='number'],
textarea,
fieldset {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 8px;
	margin: 10px 0;
	border: 1px solid #ddd;
}
form {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background: #f1f1f1;
}
.btn,
button {
	background: #de8202;
	color: #fff;
	text-decoration: none;
	padding: 8px;
	border-radius: 4px;
	border: 0;
	font-family: 'Poppins';
	cursor: pointer;
}
